.sign-in-section {
  min-width: 300px;

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__label-register {
    font-size: 0.8rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
